{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
<section id="home-liste">
    {% for product in products %}
        <div class="card">
            <h6 class="card-title">{{ product.name }}</h6>
            <p>{{ product.price }}</p>
        </div>

    {% endfor %}
</section>
{% endblock %}
