#cart {
  background-color: black;
  padding-top: 2rem;
  padding-bottom: 10rem;

  .cart-content {
    margin-top: 5rem;
    margin-bottom: 5rem;

    .card-left {
      color: grey;
      background-color: black;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .left {
        display: flex;
        align-items: center;

        .img-wrapper {
          display: flex;
          flex-direction: row;
          justify-content: center;

          > img {
            width: 12rem;
          }
        }
      }
    }

    .empty-cart {
      margin-top: 4rem;
    }
  }

  .cart-total {
    .card {
      min-height: 40rem;
      background-color: black;
      color: grey;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .left {
        width: 20rem;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .btn-validation {
          background-color: #524e4e;
          color: black;
          border-radius: 2rem;

          &:hover,
          &:focus {
            color: #807e7e;
          }
        }
      }
    }
  }
}