{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Success{% endblock %}

{% block body %}

    <section id="success">
        <div class="container">
            <h2>Votre commande a bien été réglée!</h2>
            <div class="img-wrapper">
                <img src="{{ asset('img/licorne.jpg') }}" class="img-licorne" alt="">
            </div>
            <a href="{{ path('home') }}" class="button-retour btn">Retour à l'accueil</a>
        </div>

    </section>

{% endblock %}